<Configuration>
    <Appenders>
        <RollingFile
                name="file"
                fileName="logs/test.log"
                filePattern="logs/test-%i.log.gz"
                append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%c{2}] [%t]%n[%p] : %m%n"/>
            <OnStartupTriggeringPolicy minSize="0"/>
            <SizeBasedTriggeringPolicy size="50 MB"/>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>
